/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    width: auto;
    box-sizing: border-box;
    background: #D4A76A;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    height: 30%;
    background: #FFDBAA;
    justify-content: space-around;
    vertical-align: middle;
    width: auto;
    border-bottom: 2px solid black;
}

header span {
    width: auto;
    vertical-align: middle;
    height: inherit;
}

header h1 {
    vertical-align: middle;
    font-size: 2.5em;
    color: #553100;
}

nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

main .button,
footer .button {
    border: 2px solid black;
    margin: 0px;
}

.button {
    margin: 1em;
    padding: 10px 25px;
    font-weight: bolder;
    background: #805215;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}


main {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

section {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px black;
    width: 21%;
    
}

p {
    font-size: 1.2rem;
    margin: 20px 15px;

}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 1.7rem;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 10px black;
    padding: 20px;
    margin: 5% 5%;
}
